.model-selector {
  padding: 10px;
}

.model-button button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.model-button button.active {
  background-color: #dce6ff;
  border-color: #7aa6ff;
}
